<div class="row profile-top">
    <div class="col-12">
        <% if @user.avatar.url.present? %>
          <%= image_tag(@user.avatar.url, class: "profile-img-lg") %>
        <% end %>
    </div>
</div>

<div class="row center-align">
    <div class="col-12 name">
        <b><%= @user.name %></b>
    </div>
</div>

<div class="row boxed availability">
    <div class="col-12">
        <b><%= @user.name %>'s Availability</b>
    </div>

    <div class="col-12">
        <table class="table">
            <tbody>
                <% @availabilities.each do |avlblty| %>
                    <tr>
                        <td><%= avlblty.start_time %></td>
                        <td><%= avlblty.end_time %></td>
                    </tr>
                <% end %>

            </tbody>
        </table>
    </div>

</div>