<p id="notice"><%= notice %></p>

<p>
  <strong>Title1:</strong>
  <%= @course.title1 %>
</p>

<p>
  <strong>Title2:</strong>
  <%= @course.title2 %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @course.subject %>
</p>

<p>
  <strong>University:</strong>
  <%= @course.university_id %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
