<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @help_session_request.user_id %>
  <%= @help_session_request.user_name %>
</p>

<p>
  <strong>Tutor:</strong>
  <%= @help_session_request.tutor_id %>
  <%= @help_session_request.tutor_name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @help_session_request.course_id %>
  <%= @help_session_request.course_name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @help_session_request.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @help_session_request.end %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @help_session_request.accepted %>
</p>

<p>
  <strong>Denied:</strong>
  <%= @help_session_request.denied %>
</p>

<p>
  <strong>Denied by:</strong>
  <%= @help_session_request.denied_by %>
</p>

<p>
  <strong>Message:</strong>
  <%= @help_session_request.message %>
</p>

<% if @help_session_request.accepted == nil && @help_session_request.tutor_id == current_user.id %>
  <%= link_to "Accept", help_session_requests_accept_path(@help_session_request) %>
<% end %>