</br>

<h1><%= @university.name %></h1>

</br>

<% @courses.each do |course| %>
    <div class="row row-course row-clickable" data-href="<%= course_path(course) %>">
        <%= course.title1 %>
    </div>
    <% course.subject %>
<% end %>


<!-- <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Subject</th>
        </tr>
    </thead>

    <tbody>
        <% @courses.each do |course| %>
            <tr class="row-uni" data-link="<%= course_path(course) %>">
                <td><%= course.title1 %></td>
                <td><%= course.subject %></td>
            </tr>
        <% end %>
    </tbody>
</table> -->

<% link_to 'Edit', edit_university_path(@university) %>
<% link_to 'Back', universities_path %>
