<!DOCTYPE html>
<html>
  <head>
    <title>Helpmates</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">HelpMates</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle <%= if @requests.length == 0 then "disabled" end %>" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa-stack" data-count="<%= @requests.length %>" <%= if @requests.length > 0 then "display-badge=true" end %>>
                        <i class="fa fa-stack-1x"></i>
                        <i class="fa fa-bell-o fa-stack-1x"></i>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <% @requests.each_with_index do |request, index| %>
                      <a class="dropdown-item" href="<%= help_session_request_url(request) %>"><b><%= request.user_name %></b> needs your help!</a>
                      <% if index != @requests.length-1 %>
                        <div class="dropdown-divider"></div>
                      <% end %>
                    <% end %>
                  </div>
              </li>
              
              <li class="nav-item">
                <strong><%= link_to current_user.name, edit_user_registration_path, :class => 'nav-link' %></strong>
              </li>
              <li class="nav-item">
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
              </li>
            <% end %>
        </ul>

      </div>
    </nav>

    <!-- Show notifications if there are any -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <!-- Render current page -->
    <div class="container">
      <div id="top-buffer"></div>
      <%= yield %>
    </div>

    <div class="container">
      <%= render "layouts/footer" %>
    </div>

  </body>
</html>

<script>
    jQuery(document).ready(function($) {
      $(".clickable").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>